.nowrap {
	white-space: nowrap;
}

.remove_data_folder{
	margin: 2px;
}

.add_data_folder.btn, .data_folder.btn{
	padding: 7px 12px 4px 12px;
}

#sharding-info {
	float: right;
	margin-right: 8px;
	margin-top: 24px;
}

.home_site {
	margin-top: 12px;
}

.oc-dialog ul {
    list-style: outside none disc;
    padding-left: 14px;
}

.backup_server, .home_server {
	font-weight: bold;
}