.nowrap {
	white-space: nowrap;
}

.remove_data_folder{
	margin: 2px;
}

.add_data_folder.btn, .data_folder.btn{
	padding: 7px 12px 4px 12px;
}

#sharding-info {
	float: right;
	margin-right: 8px;
	margin-top: 24px;
}

.home_site {
	margin-top: 12px;
	margin-right: 12px;
}

.oc-dialog ul {
    list-style: outside none disc;
    padding-left: 14px;
}

.backup_server, .home_server {
	font-weight: bold;
}

.sharding-help-popup {
	margin-top: 4%;
	font-family: inherit;
	font-size: 85%;
	overflow-y: hidden;
}

.sharding-help-popup h1 {
	font-size: 120%;
	font-weight: bold;
}

.sharding-help-popup li {
    margin-left: 5%;
    list-style-type: circle;
 }

.sharding-help-popup a {
    color: #0376a3;
}