.nowrap {
	white-space: nowrap;
}

#sharding-info {
	float: right;
	margin-right: 8px;
	margin-top: 24px;
}

.home_site {
	margin-top: 12px;
	margin-right: 12px;
}

.oc-dialog ul {
    list-style: outside none disc;
    padding-left: 14px;
}

.backup_server, .home_server {
	font-weight: bold;
}

.sharding-help-popup {
	margin-top: 4%;
	font-family: inherit;
	font-size: 85%;
	overflow-y: hidden;
}

.sharding-help-popup h1 {
	font-size: 120%;
	font-weight: bold;
}

.sharding-help-popup li {
    margin-left: 5%;
    list-style-type: circle;
 }

.sharding-help-popup a {
    color: #0376a3;
}

/* List of removable items */

.dataFolder .data_folder_group {
  font-weight: 300;
  font-style: "italic";
  margin-left: 24px;
}

.remove_element:hover {
  background-color: #929292;
}

div.remove_element>label {
  position: absolute;
  right: 46px;
  margin-top: -2px;
  font-weight: 800;
  margin-right: 2px;
}

div.remove_element {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 32px;
}

div.remove_element label {
	margin-bottom: 0px;
}

.add_data_folder.btn {
	font-weight: 800;
	margin-right: 36px;
	margin-bottom: 2px;
}

.addDataFolder {
	margin-left: 72px;
  margin-bottom: 2px;
}

/**/

