input.id {
  padding: 0.6em 0.5em 0.4em;
  width: 17em;
}

input.url {
  padding: 0.6em 0.5em 0.4em;
  width: 12em;
}

input.site {
  padding: 0.6em 0.5em 0.4em;
  width: 8em;
}

input.charge {
  padding: 0.6em 0.5em 0.4em;
  width: 3em;
}
div.server {
  white-space: nowrap;
}

textarea.description {
	width: 192px;
}

#filesShardingSettings {
	overflow-x: auto;
	display: inline-block;
}